                {% load static %}
                <div class="blog-posts">
                    {% for post in latest_posts %}
                    <a href="{{ post.get_absolute_url }}">
                        <div class="item d-flex align-items-center">
                            <div class="image"><img src="{{ post.image.url }}" alt="..." class="img-fluid"></div>
                            <div class="title"><strong>{{ post.title }}</strong>
                                <div class="d-flex align-items-center">
                                    <div class="comments"><i class="icon-comment"></i>{{ post.comments.count }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </a></div>